<h1>Books</h1>
  <table>
    <tr>
      <th>
        <p>Title</p>
      </th>
      <th> 
        <p>Body</p>
      </th>
    </tr> 
    <td><% @books.each do |book| %>
        <span><%= book.title %></span>
        <% end %>
    </td>
    <td><% @books.each do |book| %>
        <span><%= book.body %></span>
        <% end %>
    </td>
   
  <% @books.each do |book| %>
    <%= link_to 'Show',book_path(book.id) %>
    <%= link_to 'Edit',edit_book_path(book.id) %>
    <%= link_to 'Destroy',book_path(book.id), method: :delete,"date-confirm" =>'Are You Sure?' %>
  <% end %>
 </table>

<h1>New book</h1>
<% if @book.errors.any? %>
 <%= @book.errors.count %> error prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model:Book.new do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>

<% end %>

